<div class="jumbotron">
  <div class="container">
    <h1>Regulation Masters</h1>
    <p>This is 規制分類マスタ</p>
    <p>規制分類表：(4) 医薬品マスター > 14 は<u><%= link_to "こちら", "http://www.iryohoken.go.jp/shinryohoshu/file/spec/22rec.pdf" %></u></p>
    <p>regulation_master.csv に名前変更してください</p>

    <p class="text-danger"><strong><%= flash[:alert] %></strong></p>
    <p class="text-success"><strong><%= flash[:notice] %></strong></p>

    <div class="container">
      <p>
        <%= form_tag(input_regulation_masters_path, :method => :post, multipart: true) do %>
            <%= file_field_tag :csv_file %>
            <%= submit_tag "CSVインポート", :class => "btn btn-primary btn-raised" %>
        <% end %>
        <%= link_to '新規登録', new_regulation_master_path, class: "btn btn-primary btn-raised"  %>
        <%= link_to '全削除', delete_all_regulation_masters_path, :method => :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-raised"  %>
      </p>
    </div>
  </div>
</div>

<p><%= page_entries_info @regulation_masters %></p>
<p><%= paginate @regulation_masters %></p>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>規制分類コード</th>
    <th>規制分類名</th>
    <th>操作</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @regulation_masters.each do |regulation_master| %>
      <tr>
        <td><%= regulation_master.code %></td>
        <td><%= regulation_master.name %></td>
        <td>
          <%= link_to '', regulation_master, class: "mdi-action-info-outline" %>
          <%= link_to '', edit_regulation_master_path(regulation_master), class: "mdi-editor-mode-edit" %>
          <%= link_to '', regulation_master, method: :delete, data: { confirm: '本当に消しますか？' }, class: "mdi-action-delete" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<p><%= paginate @regulation_masters %></p>
