<div class="jumbotron">
  <div class="container">
    <h1>Pharmaceutical Masters</h1>
    <p>This is 医薬品マスタ</p>
    <p>いくつかのマスタを統合して医薬品マスタを作成＆出力</p>
    <p class="text-danger"><strong><%= flash[:alert] %></strong></p>
    <p class="text-success"><strong><%= flash[:notice] %></strong></p>

    <div class="container">
      <p>
        <%= link_to 'データ統合', integrate_pharmaceutical_masters_path, :method => :post,
                    class: "btn btn-primary btn-raised" %>
        <%= link_to 'CSV出力', export_csv_pharmaceutical_masters_path,
                    class: "btn btn-primary btn-raised"  %>
        <%= link_to '新規登録', new_pharmaceutical_master_path,
                    class: "btn btn-primary btn-raised"  %>
        <%= link_to '全削除', delete_all_pharmaceutical_masters_path, :method => :delete,
                    data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-raised"  %>
      </p>
    </div>
  </div>
</div>

<p><%= page_entries_info @pharmaceutical_masters %></p>
<p><%= paginate @pharmaceutical_masters %></p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>基準番号（ＨＯＴコード）</th>
      <th>ＪＡＮコード</th>
      <th>薬価基準収載医薬品コード</th>
      <th>レセプト電算処理システムコード（１）</th>
      <th>販売名</th>
      <th>包装単位単位</th>
      <th>新又は現金額</th>
      <th>1麻薬,2毒薬,3覚せい剤原料,5向精神薬</th>
      <th>規制分類名</th>
      <th>0先発品,1後発品</th>
      <th>製造会社</th>
      <th>販売会社</th>
      <th>薬効分類コード</th>
      <th>薬効分類名</th>
      <th>調剤包装単位コード</th>
      <th>販売包装単位コード</th>
      <th>元梱包装単位コード</th>
      <th>操作</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pharmaceutical_masters.each do |pharmaceutical_master| %>
      <tr>
        <td><%= pharmaceutical_master.a %></td>
        <td><%= pharmaceutical_master.b %></td>
        <td><%= pharmaceutical_master.c %></td>
        <td><%= pharmaceutical_master.d %></td>
        <td><%= pharmaceutical_master.e %></td>
        <td><%= pharmaceutical_master.f %></td>
        <td><%= pharmaceutical_master.g %></td>
        <td><%= pharmaceutical_master.h %></td>
        <td><%= pharmaceutical_master.i %></td>
        <td><%= pharmaceutical_master.j %></td>
        <td><%= pharmaceutical_master.aa %></td>
        <td><%= pharmaceutical_master.ab %></td>
        <td><%= pharmaceutical_master.ac %></td>
        <td><%= pharmaceutical_master.ad %></td>
        <td><%= pharmaceutical_master.ae %></td>
        <td><%= pharmaceutical_master.af %></td>
        <td><%= pharmaceutical_master.ag %></td>
        <td>
          <%= link_to '', pharmaceutical_master, class: "mdi-action-info-outline" %>
          <%= link_to '', edit_pharmaceutical_master_path(pharmaceutical_master), class: "mdi-editor-mode-edit" %>
          <%= link_to '', pharmaceutical_master, method: :delete, data: { confirm: '本当に消しますか？' }, class: "mdi-action-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @pharmaceutical_masters %>

