<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @pharmaceutical_master.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @pharmaceutical_master.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @pharmaceutical_master.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @pharmaceutical_master.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @pharmaceutical_master.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @pharmaceutical_master.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @pharmaceutical_master.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @pharmaceutical_master.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @pharmaceutical_master.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @pharmaceutical_master.j %>
</p>

<p>
  <strong>Aa:</strong>
  <%= @pharmaceutical_master.aa %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @pharmaceutical_master.ab %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @pharmaceutical_master.ac %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @pharmaceutical_master.ad %>
</p>

<p>
  <strong>Ae:</strong>
  <%= @pharmaceutical_master.ae %>
</p>

<p>
  <strong>Af:</strong>
  <%= @pharmaceutical_master.af %>
</p>

<p>
  <strong>Ag:</strong>
  <%= @pharmaceutical_master.ag %>
</p>

<%= link_to 'Edit', edit_pharmaceutical_master_path(@pharmaceutical_master) %> |
<%= link_to 'Back', pharmaceutical_masters_path %>
