<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @price_master.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @price_master.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @price_master.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @price_master.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @price_master.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @price_master.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @price_master.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @price_master.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @price_master.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @price_master.j %>
</p>

<p>
  <strong>Aa:</strong>
  <%= @price_master.aa %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @price_master.ab %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @price_master.ac %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @price_master.ad %>
</p>

<p>
  <strong>Ae:</strong>
  <%= @price_master.ae %>
</p>

<p>
  <strong>Af:</strong>
  <%= @price_master.af %>
</p>

<p>
  <strong>Ag:</strong>
  <%= @price_master.ag %>
</p>

<p>
  <strong>Ah:</strong>
  <%= @price_master.ah %>
</p>

<p>
  <strong>Ai:</strong>
  <%= @price_master.ai %>
</p>

<p>
  <strong>Aj:</strong>
  <%= @price_master.aj %>
</p>

<p>
  <strong>Ba:</strong>
  <%= @price_master.ba %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @price_master.bb %>
</p>

<p>
  <strong>Bc:</strong>
  <%= @price_master.bc %>
</p>

<p>
  <strong>Bd:</strong>
  <%= @price_master.bd %>
</p>

<p>
  <strong>Be:</strong>
  <%= @price_master.be %>
</p>

<p>
  <strong>Bf:</strong>
  <%= @price_master.bf %>
</p>

<p>
  <strong>Bg:</strong>
  <%= @price_master.bg %>
</p>

<p>
  <strong>Bh:</strong>
  <%= @price_master.bh %>
</p>

<p>
  <strong>Bi:</strong>
  <%= @price_master.bi %>
</p>

<p>
  <strong>Bj:</strong>
  <%= @price_master.bj %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @price_master.ca %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @price_master.cb %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @price_master.cc %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @price_master.cd %>
</p>

<p>
  <strong>Ce:</strong>
  <%= @price_master.ce %>
</p>

<%= link_to 'Edit', edit_price_master_path(@price_master) %> |
<%= link_to 'Back', price_masters_path %>
