<p id="notice"><%= notice %></p>

<h1>Hot Masters</h1>

<p><%= link_to "MEDISマスタ：医薬品HOTコードマスター", "http://www2.medis.or.jp/hcode/" %></p>
<p>MEDISYYYYMMDD.txt -> hot_master.csv</p>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag(input_hot_masters_path, :method => :post, multipart: true) do %>
        <div class="form-group">
          <%= file_field_tag :csv_file %>
        </div>
        <%= submit_tag "CSVインポート", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

<p><%= link_to '全削除', delete_all_hot_masters_path, :method => :delete %></p>
<p><%= link_to '新規登録', new_hot_master_path %></p>

<p><%= page_entries_info @hot_masters %></p>
<p><%= paginate @hot_masters %></p>

<table>
  <thead>
  <tr>
    <th>基準番号（ＨＯＴコード）</th>
    <th>処方用番号（ＨＯＴ７）</th>
    <th>会社識別用番号</th>
    <th>調剤用番号</th>
    <th>物流用番号</th>
    <th>ＪＡＮコード</th>
    <th>薬価基準収載医薬品コード</th>
    <th>個別医薬品コード</th>
    <th>レセプト電算処理システムコード（１）</th>
    <th>レセプト電算処理システムコード（２）</th>
    <th>告示名称</th>
    <th>販売名</th>
    <th>レセプト電算処理システム医薬品名</th>
    <th>規格単位</th>
    <th>包装形態</th>
    <th>包装単位数</th>
    <th>包装単位単位</th>
    <th>包装総量数</th>
    <th>包装総量単位</th>
    <th>区分</th>
    <th>製造会社</th>
    <th>販売会社</th>
    <th>更新区分</th>
    <th>更新年月日</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @hot_masters.each do |hot_master| %>
      <tr>
        <td><%= hot_master.a %></td>
        <td><%= hot_master.b %></td>
        <td><%= hot_master.c %></td>
        <td><%= hot_master.d %></td>
        <td><%= hot_master.e %></td>
        <td><%= hot_master.f %></td>
        <td><%= hot_master.g %></td>
        <td><%= hot_master.h %></td>
        <td><%= hot_master.i %></td>
        <td><%= hot_master.j %></td>
        <td><%= hot_master.aa %></td>
        <td><%= hot_master.ab %></td>
        <td><%= hot_master.ac %></td>
        <td><%= hot_master.ad %></td>
        <td><%= hot_master.ae %></td>
        <td><%= hot_master.af %></td>
        <td><%= hot_master.ag %></td>
        <td><%= hot_master.ah %></td>
        <td><%= hot_master.ai %></td>
        <td><%= hot_master.aj %></td>
        <td><%= hot_master.ba %></td>
        <td><%= hot_master.bb %></td>
        <td><%= hot_master.bc %></td>
        <td><%= hot_master.bd %></td>
        <td><%= link_to 'Show', hot_master %></td>
        <td><%= link_to 'Edit', edit_hot_master_path(hot_master) %></td>
        <td><%= link_to 'Destroy', hot_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= paginate @hot_masters %>
