<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @hot_master.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @hot_master.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @hot_master.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @hot_master.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @hot_master.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @hot_master.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @hot_master.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @hot_master.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @hot_master.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @hot_master.j %>
</p>

<p>
  <strong>Aa:</strong>
  <%= @hot_master.aa %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @hot_master.ab %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @hot_master.ac %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @hot_master.ad %>
</p>

<p>
  <strong>Ae:</strong>
  <%= @hot_master.ae %>
</p>

<p>
  <strong>Af:</strong>
  <%= @hot_master.af %>
</p>

<p>
  <strong>Ag:</strong>
  <%= @hot_master.ag %>
</p>

<p>
  <strong>Ah:</strong>
  <%= @hot_master.ah %>
</p>

<p>
  <strong>Ai:</strong>
  <%= @hot_master.ai %>
</p>

<p>
  <strong>Aj:</strong>
  <%= @hot_master.aj %>
</p>

<p>
  <strong>Ba:</strong>
  <%= @hot_master.ba %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @hot_master.bb %>
</p>

<p>
  <strong>Bc:</strong>
  <%= @hot_master.bc %>
</p>

<p>
  <strong>Bd:</strong>
  <%= @hot_master.bd %>
</p>

<%= link_to 'Edit', edit_hot_master_path(@hot_master) %> |
<%= link_to 'Back', hot_masters_path %>
