<%= form_for(@gs1_master) do |f| %>
  <% if @gs1_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gs1_master.errors.count, "error") %> prohibited this gs1_master from being saved:</h2>

      <ul>
      <% @gs1_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :a %><br>
    <%= f.text_field :a %>
  </div>
  <div class="field">
    <%= f.label :b %><br>
    <%= f.text_field :b %>
  </div>
  <div class="field">
    <%= f.label :c %><br>
    <%= f.text_field :c %>
  </div>
  <div class="field">
    <%= f.label :d %><br>
    <%= f.text_field :d %>
  </div>
  <div class="field">
    <%= f.label :e %><br>
    <%= f.text_field :e %>
  </div>
  <div class="field">
    <%= f.label :f %><br>
    <%= f.text_field :f %>
  </div>
  <div class="field">
    <%= f.label :g %><br>
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :h %><br>
    <%= f.text_field :h %>
  </div>
  <div class="field">
    <%= f.label :i %><br>
    <%= f.text_field :i %>
  </div>
  <div class="field">
    <%= f.label :j %><br>
    <%= f.text_field :j %>
  </div>
  <div class="field">
    <%= f.label :aa %><br>
    <%= f.text_field :aa %>
  </div>
  <div class="field">
    <%= f.label :ab %><br>
    <%= f.text_field :ab %>
  </div>
  <div class="field">
    <%= f.label :ac %><br>
    <%= f.text_field :ac %>
  </div>
  <div class="field">
    <%= f.label :ad %><br>
    <%= f.text_field :ad %>
  </div>
  <div class="field">
    <%= f.label :ae %><br>
    <%= f.text_field :ae %>
  </div>
  <div class="field">
    <%= f.label :af %><br>
    <%= f.text_field :af %>
  </div>
  <div class="field">
    <%= f.label :ag %><br>
    <%= f.text_field :ag %>
  </div>
  <div class="field">
    <%= f.label :ah %><br>
    <%= f.text_field :ah %>
  </div>
  <div class="field">
    <%= f.label :ai %><br>
    <%= f.text_field :ai %>
  </div>
  <div class="field">
    <%= f.label :aj %><br>
    <%= f.text_field :aj %>
  </div>
  <div class="field">
    <%= f.label :ba %><br>
    <%= f.text_field :ba %>
  </div>
  <div class="field">
    <%= f.label :bb %><br>
    <%= f.text_field :bb %>
  </div>
  <div class="field">
    <%= f.label :bc %><br>
    <%= f.text_field :bc %>
  </div>
  <div class="field">
    <%= f.label :bd %><br>
    <%= f.text_field :bd %>
  </div>
  <div class="field">
    <%= f.label :be %><br>
    <%= f.text_field :be %>
  </div>
  <div class="field">
    <%= f.label :bf %><br>
    <%= f.text_field :bf %>
  </div>
  <div class="field">
    <%= f.label :bg %><br>
    <%= f.text_field :bg %>
  </div>
  <div class="field">
    <%= f.label :bh %><br>
    <%= f.text_field :bh %>
  </div>
  <div class="field">
    <%= f.label :bi %><br>
    <%= f.text_field :bi %>
  </div>
  <div class="field">
    <%= f.label :bj %><br>
    <%= f.text_field :bj %>
  </div>
  <div class="field">
    <%= f.label :ca %><br>
    <%= f.text_field :ca %>
  </div>
  <div class="field">
    <%= f.label :cb %><br>
    <%= f.text_field :cb %>
  </div>
  <div class="field">
    <%= f.label :cc %><br>
    <%= f.text_field :cc %>
  </div>
  <div class="field">
    <%= f.label :cd %><br>
    <%= f.text_field :cd %>
  </div>
  <div class="field">
    <%= f.label :ce %><br>
    <%= f.text_field :ce %>
  </div>
  <div class="field">
    <%= f.label :cf %><br>
    <%= f.text_field :cf %>
  </div>
  <div class="field">
    <%= f.label :cg %><br>
    <%= f.text_field :cg %>
  </div>
  <div class="field">
    <%= f.label :ch %><br>
    <%= f.text_field :ch %>
  </div>
  <div class="field">
    <%= f.label :ci %><br>
    <%= f.text_field :ci %>
  </div>
  <div class="field">
    <%= f.label :cj %><br>
    <%= f.text_field :cj %>
  </div>
  <div class="field">
    <%= f.label :da %><br>
    <%= f.text_field :da %>
  </div>
  <div class="field">
    <%= f.label :db %><br>
    <%= f.text_field :db %>
  </div>
  <div class="field">
    <%= f.label :dc %><br>
    <%= f.text_field :dc %>
  </div>
  <div class="field">
    <%= f.label :dd %><br>
    <%= f.text_field :dd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
