<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @gs1_master.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @gs1_master.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @gs1_master.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @gs1_master.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @gs1_master.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @gs1_master.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @gs1_master.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @gs1_master.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @gs1_master.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @gs1_master.j %>
</p>

<p>
  <strong>Aa:</strong>
  <%= @gs1_master.aa %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @gs1_master.ab %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @gs1_master.ac %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @gs1_master.ad %>
</p>

<p>
  <strong>Ae:</strong>
  <%= @gs1_master.ae %>
</p>

<p>
  <strong>Af:</strong>
  <%= @gs1_master.af %>
</p>

<p>
  <strong>Ag:</strong>
  <%= @gs1_master.ag %>
</p>

<p>
  <strong>Ah:</strong>
  <%= @gs1_master.ah %>
</p>

<p>
  <strong>Ai:</strong>
  <%= @gs1_master.ai %>
</p>

<p>
  <strong>Aj:</strong>
  <%= @gs1_master.aj %>
</p>

<p>
  <strong>Ba:</strong>
  <%= @gs1_master.ba %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @gs1_master.bb %>
</p>

<p>
  <strong>Bc:</strong>
  <%= @gs1_master.bc %>
</p>

<p>
  <strong>Bd:</strong>
  <%= @gs1_master.bd %>
</p>

<p>
  <strong>Be:</strong>
  <%= @gs1_master.be %>
</p>

<p>
  <strong>Bf:</strong>
  <%= @gs1_master.bf %>
</p>

<p>
  <strong>Bg:</strong>
  <%= @gs1_master.bg %>
</p>

<p>
  <strong>Bh:</strong>
  <%= @gs1_master.bh %>
</p>

<p>
  <strong>Bi:</strong>
  <%= @gs1_master.bi %>
</p>

<p>
  <strong>Bj:</strong>
  <%= @gs1_master.bj %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @gs1_master.ca %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @gs1_master.cb %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @gs1_master.cc %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @gs1_master.cd %>
</p>

<p>
  <strong>Ce:</strong>
  <%= @gs1_master.ce %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @gs1_master.cf %>
</p>

<p>
  <strong>Cg:</strong>
  <%= @gs1_master.cg %>
</p>

<p>
  <strong>Ch:</strong>
  <%= @gs1_master.ch %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @gs1_master.ci %>
</p>

<p>
  <strong>Cj:</strong>
  <%= @gs1_master.cj %>
</p>

<p>
  <strong>Da:</strong>
  <%= @gs1_master.da %>
</p>

<p>
  <strong>Db:</strong>
  <%= @gs1_master.db %>
</p>

<p>
  <strong>Dc:</strong>
  <%= @gs1_master.dc %>
</p>

<p>
  <strong>Dd:</strong>
  <%= @gs1_master.dd %>
</p>

<%= link_to 'Edit', edit_gs1_master_path(@gs1_master) %> |
<%= link_to 'Back', gs1_masters_path %>
