<div class="jumbotron">
  <div class="container">
    <h1>Efficacy Masters</h1>
    <p>This is 薬効分類マスタ</p>
    <p>薬効分類表は<u><%= link_to "こちら", "http://www.mhlw.go.jp/shingi/2009/11/dl/s1106-11v.pdf" %></u></p>
    <p>s1106-11v.pdf を efficacy_master.csv に名前変更してください</p>

    <p class="text-danger"><strong><%= flash[:alert] %></strong></p>
    <p class="text-success"><strong><%= flash[:notice] %></strong></p>

    <div class="container">
      <p>
        <%= form_tag(input_efficacy_masters_path, :method => :post, multipart: true) do %>
          <%= file_field_tag :csv_file %>
          <%= submit_tag "CSVインポート", :class => "btn btn-primary btn-raised" %>
        <% end %>
        <%= link_to '新規登録', new_efficacy_master_path, class: "btn btn-primary btn-raised"  %>
        <%= link_to '全削除', delete_all_efficacy_masters_path, :method => :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-raised"  %>
      </p>
    </div>
  </div>
</div>

<p><%= page_entries_info @efficacy_masters %></p>
<p><%= paginate @efficacy_masters %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>薬効分類コード</th>
      <th>薬効分類名</th>
      <th>操作</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @efficacy_masters.each do |efficacy_master| %>
      <tr>
        <td><%= efficacy_master.code %></td>
        <td><%= efficacy_master.name %></td>
        <td>
          <%= link_to '', efficacy_master, class: "mdi-action-info-outline" %>
          <%= link_to '', edit_efficacy_master_path(efficacy_master), class: "mdi-editor-mode-edit" %>
          <%= link_to '', efficacy_master, method: :delete, data: { confirm: '本当に消しますか？' }, class: "mdi-action-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= paginate @efficacy_masters %></p>
