<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @efficacy_master.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @efficacy_master.name %>
</p>

<%= link_to 'Edit', edit_efficacy_master_path(@efficacy_master) %> |
<%= link_to 'Back', efficacy_masters_path %>
